---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ContactUs from "@components/ContactUs.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <ContactUs />
    <Footer />
  </body>
</html>
<style is:global></style>
